// Color Palette
    $primary-color: #F2E6D8;
    $secondary-color: #8C8987;
    $tertiary-color: #0D0D0D;
    $quaternary-color: #385DA6;
    $quinary-color: #5080BF;

// Font Stack
    $primary-font: sans-serif;
    $secondary-font: serif;