// Color Palette
    $primary-color: #F2E6D8;
    $secondary-color: #8C8987;
    $tertiary-color: #0D0D0D;
    $quaternary-color: #385DA6;
    $quinary-color: #5080BF;

// Font Stack
    $primary-font: sans-serif;
    $secondary-font: serif;

    html {
        background: $primary-color;
        font-family: $secondary-font;
    }

    h1 {
        font-family: $primary-font;
        .title {
            color: $quaternary-color;
        }
        .header {
            color: $quinary-color;
            font-family: $secondary-font;
        }
    }

    p {
        font-family: $secondary-font;
        color: $tertiary-color;
    }