html, body {
    height: 90%;
}
/** Start Button styling */
button {
    border-radius: 10px;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #506070;
    color: #ffffff;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    word-wrap: break-word;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0px;
    width: 100%;
}

button:active {
    transform: scale(0.75);
    outline: 0px;
}
/** End Button styling */

html {
    background-color: slateblue;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#results {

    color: #666;
    font-weight: 600;
    transition: .25s ease-in-out;
}

h1 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 4rem;
}

.container {
    display: grid;
    max-width: 70%;
    max-height: 100%;
    position: relative;
    margin: auto;
    grid-gap: 3px;
    grid-template-areas: "header header"
                         "selection output"
                         "button output"
                         "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    /*align-content: space-around; */
}

header {
    background-color: dodgerblue;
    grid-area: header;
    text-align: center;
}

.selection {
    background-color: beige;
    grid-area: selection;
}

.button {
    background-color: slategrey;
    grid-area: button;
}

.output {
    background-color: white;
    grid-area: output;
    text-align: center;
}

footer {
    background-color: dodgerblue;
    grid-area: footer;
    text-align: center;
}

.buttongrid {
    position: relative;
    height: 100%;
    width: 100%;
}

.buttonarea { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

label {
    font-size: .75rem;
}

.dropdown {
    background-color: rgba(100,100,100,0);
    border-color: transparent transparent rgba(100,100,100,1) transparent;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    position: relative;
    
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    width: 8rem;
    text-align-last: center;
}

.dropdown:focus {
    border-color: transparent transparent rgba(0,0,0,1) transparent;
    background-color: rgba(0,0,0,0.04);
    outline: 0px;
}
